# Nix / devenv
.devenv/
.pre-commit-config.yaml

# AI
.mcp.json
.claude

# Rust
target/
.cargo/
rustc-ice-*.txt

# JavaScript dependencies and build output
node_modules/
dist/
.svelte-kit

# Environment
.env

# OS
.DS_Store
